@import './sidebar.css';
@import './content.css';
@import './tiles.css';

:root {
  --color-bg: #272822;
  --color-surface-alt: #414339;
  --color-surface-hover: #3e3d32;

  --color-text: #f8f8f2;
  --color-text-muted: #ccccc7;
  --color-text-dim: #90908a;

  --color-border: #1e1f1c;
  --color-border-soft: #34352f;
  --color-border-strong: #75715e;

  --color-focus-ring: #99947c;

  --color-success: #a6e22e;
  --color-warning: #e2e22e;
  --color-error: #f92672;
  --color-info: #66d9ef;

  --font-mono:
    ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
    'JetBrains Mono', 'Fira Code', monospace;

  --scrollbar-size: 14px;

  --scrollbar-thumb: oklab(54.67100000000001% -0.00371 0.02853 / 0.45);
  --scrollbar-thumb-hover: rgba(117, 113, 94, 0.7);
  --scrollbar-thumb-active: rgba(117, 113, 94, 0.9);

  --top-bar-height: 40px;
}

body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  overflow: overlay;
}

button {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.button {
  cursor: pointer;
  padding: 2px;
  border-radius: 4px;

  &:hover {
    background: var(--color-surface-hover);
  }
}
