[data-split] {
  --resizer-line-size: var(--gap);
  --resizer-hit-size: 6px;

  width: 100%;
  height: 100%;

  &[data-dir='row'] {
    > [data-split-item] > [data-split-resizer] {
      cursor: col-resize;
      width: var(--resizer-line-size);
      transform: translateX(calc(-50% - var(--resizer-line-size) / 2));

      &::before {
        left: 50%;
        width: var(--resizer-hit-size);
        transform: translateX(-50%);
      }
    }
  }
  &[data-dir='column'] {
    > [data-split-item] > [data-split-resizer] {
      cursor: row-resize;
      height: var(--resizer-line-size);
      transform: translateY(calc(-50% - var(--resizer-line-size) / 2));

      &::before {
        top: 50%;
        height: var(--resizer-hit-size);
        transform: translateY(-50%);
      }
    }
  }
}

[data-split-resizer] {
  z-index: 100;
  inset: 0;
  background: var(--color-border-soft);
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.1s linear;
    background: var(--color-border-strong);
  }

  &:hover {
    &::before {
      opacity: 1;
      transition-delay: 0.4s;
    }
  }
}

[data-tabs] {
  --drop-indicator-width: 2px;
  --tabs-bar-gap: 1px;

  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
}

[data-tabs-bar] {
  display: flex;
  flex-direction: row;
  background: var(--color-code-bg);
  overflow: hidden;
  height: var(--top-bar-height);
}

[data-tabs-list] {
  display: flex;
  flex-direction: row;
  min-width: 0;
  overflow-x: auto;
  gap: var(--tabs-bar-gap);
  &::-webkit-scrollbar {
    height: calc(var(--scrollbar-size) / 2);
    width: calc(var(--scrollbar-size) / 2);
  }
}

[data-tabs-spacer] {
  flex-grow: 1;
  position: relative;
  &[data-over='true']::before {
    content: '';
    background: var(--color-text);
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    width: var(--drop-indicator-width);
  }
}

[data-tabs-actions] {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-text-muted);
  padding: 0 0.5rem;
}

[data-tabs-header] {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 0.4rem;
  background: var(--color-surface-alt);
  color: var(--color-text-muted);
  font-size: 12pt;
  gap: 0.5rem;
  position: relative;

  &[data-selected='true'] {
    background: var(--color-bg);
    color: var(--color-text);
  }
  &[data-over='true'] {
    &::after {
      z-index: 100;
      content: '';
      position: absolute;
      background: var(--color-text);
      top: 0;
      bottom: 0;
      left: 0;
      width: var(--drop-indicator-width);
    }
    &[data-hpart='end']::after {
      left: calc(100% - var(--drop-indicator-width));
    }
  }
}

[data-tabs-content],
[data-tabs-empty] {
  flex: 1 1 0;
  position: relative;
  overflow: hidden;
  &::after {
    content: '';
    position: absolute;
    pointer-events: none;
    background: var(--color-surface-alt);
    transition: inset 160ms ease;
  }
  &[data-over='true'] {
    &::after {
      opacity: 0.4;
    }
    &[data-hpart='center'][data-vpart='center']::after {
      inset: 0;
    }

    &[data-hpart='start']::after {
      inset: 0 50% 0 0;
    }

    &[data-hpart='end']::after {
      inset: 0 0 0 50%;
    }

    &[data-hpart='center'][data-vpart='start']::after {
      inset: 0 0 50% 0;
    }

    &[data-hpart='center'][data-vpart='end']::after {
      inset: 50% 0 0 0;
    }
  }
}

/* Firefox fallback */
/* * {
	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar-thumb) transparent;
} */

/* Chromium / WebKit */

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar {
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-track:vertical {
  box-sizing: border-box;
  border-left: 1px solid var(--color-border-soft);
}

::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  border-radius: 0; /* прямоугольный thumb */
  border: 1px solid transparent; /* визуальный отступ */
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover);
}

::-webkit-scrollbar-thumb:active {
  background: var(--scrollbar-thumb-active);
}

::-webkit-scrollbar-button {
  display: none;
}
